* {
  margin: 0;
  padding: 0; }

.text-centered {
  text-align: center !important; }

.title-medium {
  font-size: 20px !important; }

section.hero-body div.information .column:hover {
  cursor: pointer;
  transform: scale(0.9);
  border-radius: 6px;
  transition: 0.5s; }
